{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center mt-4">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h2 class="mb-0">{{ view.action }} Semestre</h2>
                <div>
                    <a href="{% url 'semestre_list' %}" class="btn btn-light me-2">Cancelar</a>
                    <button type="submit" form="main-form" class="btn btn-light fw-bold">Salvar</button>
                </div>
            </div>
            <div class="card-body">
                <form method="post" id="main-form">
                    {% csrf_token %}
                    {{ form.as_p }}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}